.git
.gitignore
.gcloudignore

node_modules
dist
.tanstack
.wrangler
.venv
venv
__pycache__
__pycache__/
*.py[cod]
platform/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

qrcode.png
README_DEPLOY.md
